.background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal {
    border: 2px solid var(--azul-escuro);
    border-radius: .5rem;

    background-color: var(--branco);
    width: 31.25rem;
}

.title {
    background-color: var(--azul-escuro);
    padding: .75rem;

    color: var(--branco);

    h2 {
        font-size: 1.25rem;
        text-align: center;
    }
}

.main {
    padding: .75rem;

    display: flex;
    flex-direction: column;
    gap: .75rem;

    p {
        text-align: center;
    }
}

.buttons {
    gap: .75rem;
}

@media (max-width: 600px) {
    .modal {
        width: 20rem;
    }
}