.loader {
  width: 40px;
  height: 40px;
  border: 4px solid var(--amarelo);
  border-top: 4px solid var(--azul-escuro);
  border-radius: 50%;
  animation: spin 1.2s infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.32, 0.94, 0.60, 1);
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
}