.title {
    align-items: center;
    justify-content: space-between;

    color: var(--azul-escuro);
}

.nav {
    gap: .75rem; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    gap: 1rem;
    justify-content: center;
}