.header {
    background-color: var(--azul-escuro);
    justify-content: space-between;
    align-items: center;

    color: var(--branco);
}

ul {
    list-style: none;

    justify-content: space-between;

    li i {
        font-size: 1.5rem;
    }
}

.redes {
    gap: 1rem;
}

