.footer {
    background-color: var(--azul-escuro);

    color: var(--branco);
}

.footer ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;

    text-align: center;

    hr {
        width: 100%;
        border: 1px solid var(--azul);
    }
}