.navegation {
    color: var(--branco);
    font-size: 1rem;

    padding: .25rem .75rem; 
    justify-content: center;
    align-items: center;
    min-width: 120px;

    border-radius: .25rem;

    transition: .5s;

    cursor: pointer;

    &.azul {
        color: var(--azul);
        text-decoration: underline;
    }

    &.azul-escuro {
        background-color: var(--azul-escuro);
    }
}